<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
    <title>Facial Expression Analyzer</title>
</head>
<body>


<div id="stream-div">
    <img id="webcam-feed">
    <img id="face">
    <div id="eye-div"></div>
</div>
<button id="pause-btn" onclick="togglePause()">Pause</button>
<div class="wrapper">
    <div id="emotion-div" class="analysis_div">
    </div>
    <div id="val-arousal-div" class="analysis_div">
    </div>
</div>
<script src="{{ url_for('static', filename='plotting_utils.js') }}"></script>
<script src="{{ url_for('static', filename='webcam.js') }}"></script>
</body>
</html>