#webcam-feed #face {
    width: 500px;
    height: 500px;
    background-color: beige;
}

.emotion-gauge {
    margin: auto;
    width: 50px;
}

.wrapper {
    white-space: nowrap;
}

.analysis_div {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
}

select {
    width: 300px; /* Set the width of the dropdown */
    font-size: 18px; /* Set the font size of the dropdown */
    height: 40px; /* Set the height of the dropdown */
}